.paymentDetails{
    display: block;
    width: 100%;
    max-width:  100rem;

    padding: 0;
    margin: 2rem auto;
    .group{
        margin: 0 0 2rem;
    }
    
}
.container {
        display: flex;
        flex: 1;
        flex-direction: row;
      
      .cardContainer {
        padding-top: 15;
      }
      .contentContainer {
        flex: 1;
        flex-direction: column;
        .inputContainer {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding-top: 10;
          input {
            display: block;
            margin: 7px 20px;
            padding: 5px 16px;
            font-size: 16px;
            color: #222;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 8px;
          }
        }
      }
    }
    @media (max-width: 600px) {
      .container {
          flex-direction: column;
      }
}
.marginBtn {
    height: 5rem;
}