.directory {
  height: 100%;
  .wrap {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .item {
    width: 50%;
    float: left;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    a {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: white;
      font-size: 2rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      color: #000;
      padding: 8px 10px;
      border: 1px solid black;
      border-radius: 0.5rem;
      &:hover {
        background: #000;
        color: white;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
@media only screen and (max-width: 980px) {
  .directory .wrap .item {
    width: 100%;
    height: 50%;

    a {
      font-size: 1.5rem;
    }
  }
}
