.formRow {
  input ,
  &.checkoutInput select{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    border: 1px solid #0fb0c1;
    padding: 10px 5px;
    margin: 10px auto;
    outline: none;
  }
}
